* {
	box-sizing: border-box;
	font-family: Arial;
}

body {
	background-color: rgb(255, 100, 100);
	margin: 0px;
}

main {
	margin: 0px auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.overlay {
	/*filter: blur(5px);*/
	background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ), url(https://www.geek.com/wp-content/uploads/2017/07/super-mario-bros-650x366.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	border-top: 2px solid black;
	border-bottom: 1px dashed black;
}

form {
	width: 80%;
	margin: auto;
}

input {
	border: 1px solid grey;
	border-radius: 2px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 16px;
}

label {
	font-size: 18px;
}

main div {
	display: inline-block;
	width: 30%;
}

button {
	width: 200px;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 10px;
	border-radius: 8px;
	border: 2px solid black;
	background-color: rgb(255, 0, 0);
	color: black;
}

button:hover {
	border: 2px solid white;
	background-color: rgb(125, 0, 0);
	color: white;
	cursor: pointer;
	font-weight: 500;
}

nav {
	position: relative;
    height: 65px;
    width: 100%;
    text-align: center;
    margin: auto;
    background: white;
}

main img {
	max-width: 100%;
	height: 150px;
	margin-bottom: 20px;
	margin-top: 20px;
}

nav img {
	zoom: 50%;
	vertical-align: middle;
	margin-left: 30px;
}

h1 {
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 30px;
	font-size: 36px;
	text-align: center;
	display: inline-block;
	margin-right: 0px;
	vertical-align: middle;
}

h3 {
	font-size: 24px;
	margin-top: 15px;
}

main h6 {
	font-size: 18px;
	margin: 10px;
	font-weight: 500;
}

header {
	font-size: 22px;
	font-weight: bold;
}

footer {
	width: 80%;
	margin: auto;
	margin-bottom: 35px;
	background-color: rgb(255, 100, 100);
}

footer h6 {
	font-size: 18px;
	margin-right: 10px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px; 
}

footer p.fake-url:hover {
	text-decoration: underline;
	cursor: pointer;
}

footer h4 {
	font-size: 23px;
	text-align: center;
}

footer p {
	font-size: 16px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 730px)  {
	main div {
		width: 49%;
	}
}

@media only screen and (max-width: 500px)  {
	main div {
		width: 98%;
	}
	h1 {
		font-size: 32px;
	}
	nav img {
		zoom: 40%;
	}
	nav {
		height: 60px;
	}
}

@media only screen and (max-width: 350px)  {
	main div {
		width: 98%;
	}
	h1 {
		font-size: 30px;
	}
	nav img {
		zoom: 38%;
	}
	nav {
		height: 56px;
	}
}

@media only screen and (max-width: 1125px)  {
	input {
		display: block;
		margin: 5px auto;
		text-align: center;
	}
}
