* {
    box-sizing: border-box;
    font-family: "Muli", serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

nav {
    height: 40px;
    text-shadow: 1px 1px black;
}

.overlay {
    background-color: black;
    opacity: 0.75;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0px;
    z-index: 9;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 0;
    padding: 0;
    font-size: 17px;
}

nav li {
    padding: 10px 5px;
    font-weight: 300;
    letter-spacing: 0.6px;
}

nav a {
    text-decoration: none;
    color: white;
    z-index: 10;
}

nav a:hover {
    background-color: white;
    color: black;
    text-shadow: none;
}

.homepageImg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("Images/homepageImg.jpg") no-repeat center center;
    filter: blur(8px);
    z-index: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

header {
    position: relative;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px black;
    height: 600px;
    margin-top: -40px;
    display: flex;
    background-color: transparent;
}

.homepageText {
    z-index: 1;
}

header h1 {
    font-size: 110px;
    margin: 0px;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

header h2 {
    font-size: 55px;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    text-shadow: 2px 2px black;
}

footer {
    height: 105px;
    background-color: black;
    color: white;
    position: relative;
    padding-top: 1px;
}

footer legend {
    text-align: center;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0;
    font-weight: bolder;
    letter-spacing: 0.7px;
    font-size: 20px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-right: 17px;
    padding-left: 17px;
}

footer fieldset {
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 10px;
}

footer ul {
    list-style: none;
    padding: 0px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer li {
    padding: 2px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

footer a {
    margin-bottom: 0px;
}

.info {
    position: absolute;
    left: 10px;
    top: 35px;
}

footer ul li span {
    margin-right: 10px;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.links {
    position: absolute;
    right: 10px;
    top: 35px;
    text-align: right;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a:hover {
    text-decoration: underline;
}

.threeThumbnails {
    margin-top: 0;
    background-color: rgb(210, 210, 225);
    margin-bottom: 0;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
}

.threeThumbnails a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.threeThumbnails h5 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
}

.threeThumbnails h3 {
    font-size: 38px;
    margin-bottom: 5px;
}

.thumbnail {
    width: 320px;
    padding: 30px 20px;
}

.thumbnail:hover {
    background-color: white;
    cursor: pointer;
    transition-duration: 500ms;
}

#Projects:hover *,
#About:hover *,
#Resume:hover *  {
    transition-duration: 300ms;
}

.thumbnail div {
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
    width: 120px;
    height: 120px;
}

#Projects a .thumbnailImg {
    height: 200px;
    width: 200px;
    zoom: 60%;
    border: 1.6666667px solid black;
    background-image: url("Images/homepageProjects.png")
}

#Projects:hover * {
    color: rgb(0,150,70);
}

#About a .thumbnailImg {
    height: 860px;
    width: 860px;
    zoom: 13.95349%;
    border: 7.1666658px solid black;
    background-image: url("Images/aboutMeIcon.jpg")
}

#About:hover * {
    color: rgb(0,150,255);
}

#Resume a .thumbnailImg {
    height: 512px;
    width: 512px;
    zoom: 23.4375%;
    border: 4.26666667px solid black;
    background-image: url("Images/resumeHomeIcon.png")
}

#Resume:hover * {
    color: rgb(250,50,0);
}

.aboutPage, .projectsPage, .funResume {
    background-color: rgb(210, 210, 225);
    color: black;
    margin-top: 0;
    padding: 20px 30px;
}

.resumePage {
    background-color: rgb(210, 210, 225);
    color: black;
    margin-top: 0;
    padding: 20px 30px;
}

.resumeChoices {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.resumeChoices a {
    color: black;
    text-decoration: none;
}

.hoverWrapper {
    padding: 20px;
}

.hoverWrapper:hover {
    background-color: white;
    transition-duration: 500ms;
    cursor: pointer;
}

.hoverWrapper h1 {
    margin-top: 0;
}

.simpleResume .imageWrapper {
    background-color: white;
    border-radius: 50%;
}

.hoverWrapper:hover .imageWrapper {
    transition-duration: 300ms;
    background-color: grey;
}

.hoverWrapper:hover a {
    transition-duration: 300ms;
    color: rgb(0, 150, 200);
}

.hoverWrapper:hover a.img2 {
    transition-duration: 300ms;
    color: rgb(255, 60, 90);
}

.resumeImg1 {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: url("Images/simpleResumeIcon.png") no-repeat center center;
    border: 1px solid black;
}

.resumeImg2 {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: url("Images/funResumeIcon.png") no-repeat center center;
    zoom: 128%;
    border: 0.78125px solid black;
}

.resumePage button {
    width: 230px;
    font-size: 22px;
    font-weight: 600;
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    margin: 30px auto 20px;
    display: block;
}

.resumePage > a {
    text-decoration: none;
    color: black;
}

.resumePage button:hover {
    transition-duration: 100ms;
    cursor: pointer;
    color: white;
    background-color: grey;
    border: 1px solid white;
}

.aboutPage .profilePic {
    background: url("Images/profilePic.jpg") no-repeat center center;
    height: 399px;
    width: 239px;
    zoom: 60%;
}

.aboutPage .gradPic {
    background: url("Images/graduation.jpg") no-repeat center center;
    height: 960px;
    width: 641px;
    zoom: 25%;
}

.aboutPage .naturePic {
    background: url("Images/nature.jpg") no-repeat center center;
    height: 720px;
    width: 960px;
    zoom: 45%;
}

.aboutPage .swedenPic {
    background: url("Images/sweden.jpg") no-repeat center center;
    height: 1357px;
    width: 2048px;
    zoom: 20%;
}

.aboutPage .valuesPic {
    background: url("Images/gradFamily.jpg") no-repeat center center;
    height: 640px;
    width: 960px;
    zoom: 50%;
    vertical-align: middle;
}

.aboutPage h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 5px;
}

.aboutPage .intro {
    vertical-align: top;
}

.introAndContact {
    margin-bottom: 10px;
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

.gradPic, .softwareSection p {
    margin: auto;
}

.seeMore span {
    margin-right: 10px;
    text-decoration: underline;
}

.seeMore p {
    margin-top: 0;
}

.seeMore a {
    color: black;
}

.aboutPage .myBackground, .aboutPage .myInterests,
.aboutPage .myValues {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: top;
    clear: both;
}

.aboutPage .myBackground,
.aboutPage .myInterests,
.aboutPage .myValues,
.aboutPage .introAndContact {
    background-color: white;
    width: 100%;
    height: auto;
}

.aboutPage .introAndContact {
    border-top: 2px solid black;
}

.aboutPage .myInterests,
.aboutPage .myValues {
    background-color: rgb(210, 210, 225);
}

.aboutPage .myBackground > div, .aboutPage .myInterests > div,
.aboutPage .myValues > div {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: inline-block;
    vertical-align: middle;
}

.aboutPage .myValues,
.aboutPage .myBackground,
.aboutPage .myInterests {
    display: flex;
    align-items: center;
}

.aboutPage h3 {
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
}

.aboutPage, .projectsPage {
    margin: 0;
    padding: 20px 0;
    padding-bottom: 0px;
}

.myBackground .naturePic {
    display: inline-block;
    float: right;
}

.myBackground .swedenPic,
.myValues .valuesPic  {
    display: inline-block;
    float: left;
}

.contactMe, .softwareSection {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
}

.whySoftware {
    grid: s
}

.intro {
    grid: i
}

.introAndContact {
    display: grid;
    grid-template-columns: 2fr  1fr;
    grid-template-areas:
        "s i";
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    grid-gap: 30px;
    padding-top: 30px;
}

.profilePic {
    grid: p
}

.seeMore {
    grid: s
}

.aboutPageImg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("Images/aboutMeBackground.jpg") no-repeat center center;
    background-size: cover;
    filter: blur(6px);
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.aboutBanner {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 500px;
    margin-top: -40px;
    display: flex;
    background-color: black;
    bottom: 20px;
    margin-bottom: -30px;
}

.aboutBanner h1 {
    z-index: 1;
    font-size: 100px;
    margin: 0px;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

.projectPageImg {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("Images/projectsBackgroundImg.jpg") no-repeat center center;
    background-size: cover;
    filter: blur(6px);
    z-index: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

.projectBanner {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 450px;
    margin-top: -40px;
    display: flex;
    background-color: transparent;
    bottom: 20px;
    margin-bottom: -20px;
    background-color: black;
}

.projectBanner h1 {
    z-index: 1;
    font-size: 100px;
    margin: 0px;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

.seeMore p {
    margin-top: 0;
    margin-bottom: 0;
}

.seeMore a:hover {
    font-weight: 700;
}

.projectsDiv {
    margin-bottom: 0;
    padding: 0px;
    background-color: pink;
}

.projectEntry {
    padding: 20px 10px;
    margin: 0;
}

.projectEntry h2,
.projectEntry h3 {
    text-align: center;
}

.projectEntry h2 a {
    padding: 5px 10px;
    color: black;
    text-decoration: none;
}

.projectEntry h2 a:hover span,
.projectEntry h3 a:hover span {
    text-decoration: underline;
}

.projectEntry h2 a {
    padding: 5px 10px;
    color: black;
    text-decoration: none;
}

.projectEntry h3 a {
    color: black;
    text-decoration: none;
}

.projectEntry h2 {
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

.projectEntry h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 24px;
}

.projectEntry h3 a,
.projectEntry h2 a  {
    margin-left: 4px;
    padding: 3px 4px;
}

.projectEntry h5 {
    padding-left: 20px;
}

.projectEntry h5,
.projectEntry li {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.projectEntry h5 span {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.projectEntry h6 {
    text-align: center;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}

.projectEntry:hover h2,
.projectEntry:hover h3,
.projectEntry:hover h2 a,
.projectEntry:hover h3 a {
    color: rgb(180, 110, 20);
    transition-duration: 200ms;
}

.projectEntry:hover h6 {
    font-weight: bold;
    transition-duration: 100ms;
}

#fishackathon1 {
    background-image: url("Images/fishackathonHome.png");
}

#fishackathon2 {
    background-image: url("Images/fishackathonReport.png");
}

.projectImageContainer {
    margin: auto;
    margin-top: 15px;
}

.projectImage {
    background-position: center center;
    background-repeat: no-repeat;
    width: 1440px;
    height: 900px;
    zoom: 40%;
}

.projectImageContainer h5 {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

.projectImages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
    grid-gap: 15px;
}
