* {
	box-sizing: border-box;
	font-family: Arial;
}

body {
	background-color: rgb(35, 35, 35);
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	width: 80%;
}

nav {
	width: 100%;
	font-size: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: grey;
	height: 60px;
	border-bottom: 2px solid silver;
}

nav h1 {
	position: relative;
	display: inline-block;
	border-right: 2px solid black;
	font-size: 30px;
	vertical-align: middle;
	margin: 12px;
	margin-left: 20px;
	margin-right: 0px;
	padding: 0px;
	padding-right: 20px;
	font-weight: 600;
	font-family: serif;
	color: black;
}

nav ul {
	position: relative;
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	list-style: none;
	margin: 8.5px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
	color: black;
	margin-right: 10px;
	padding: 3px;
}

nav ul li:hover {
	text-decoration: underline;
	font-size: 22px;
}

nav h1:hover {
	color: silver;
}

.subheader {
	color: white;
	font-size: 25px;
	text-align: left;
	font-weight: 500;
}

.in-text-list > li {
	font-size: 21px;
	color: rgb(170, 0, 100);
}

section > ul, ul > li {
	font-size: 22px;
	color: rgb(170, 0, 100);
}

h2 {
	color: rgb(170, 0, 100);
	text-align: center;
	font-size: 35px;
}

main > h3 {
	color: rgb(150, 255, 0);
	text-align: center;
	font-size: 30px;
}

section > h3 {
	color: rgb(0, 255, 255);
	font-size: 24px;
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

p {
	color: white;
	font-size: 18px;
}

article h5 {
	font-size: 21px;
	font-weight: 500;
	color: rgb(170, 0, 100);
	text-align: center;
}

h5 {
	color: rgb(0, 255, 255);
	font-size: 21px;
	font-weight: 500;
	display: block;
	clear: both;
}

h6 {
	font-size: 20px;
	font-weight: 500;
	color: rgb(150, 255, 0);
	text-align: center;
}

li > h6, article > ol {
	font-size: 19px;
	font-weight: 500;
	color: rgb(0, 255, 255);
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

ul h6 {
	font-size: 21px;
	font-weight: 500;
	color: rgb(170, 0, 100);
}

article h6 {
	clear: both;
}

article > h6 {
	margin-top: 20px;
	margin-bottom: 40px;
}

main a {
	color: rgb(80, 80, 190);
	font-size: 20px;
	text-decoration: none;
}

.links {
	list-style: none;
}

a:hover {
	text-decoration: underline;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

img {
	vertical-align: top;
	margin: 40px;
	text-align: center;
}

#first {
	zoom: 120%;
	margin: 17px;
	margin-top: 0px;
	margin-right: 0px;
}

#second {
	zoom: 33%;
	margin: 62px;
	margin-top: 0px;
	margin-left: 0px;
}

#third {
	margin: 57px;
	margin-top: 0px;
	zoom: 35%;
	margin-right: 0px;
}

.img-left {
	float: left;
}

.img-right {
	float: right;
}

.dropdown {
	display: none;
}

article {
	clear: both;
	margin-top: 0px;
	padding-top: 10px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 830px) {
	#second {
		zoom: 25%;
		margin: 80px;
		margin-top: 0px;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 780px) {
	#first {
		zoom: 100%;
		margin: 20px;
		margin-top: 0px;
		margin-right: 0px;
	}

	#third {
		margin: 72px;
		margin-top: 0px;
		zoom: 28%;
		margin-right: 0px;
	}

	#first, #second, #third {

	}
}

@media only screen and (max-width: 680px) {
	#first, #second, #third {
		zoom: 100%;
		margin: 20px auto;
		width: 100%;
		display: block;
	}

	.img-left, .img-right {
		float: none;
	}
}

@media only screen and (max-width: 650px) {
	nav h1 {
		border-right: none;
	}

	.large {
		display: none;
	}

	.dropdown {
		display: block;
	}

	.dropbtn {
		position: absolute;
		right: 20px;
		top: 0px;
		background-color: grey;
	    color: black;
	    padding: 5px;
	    padding-top: 18.5px;
	    padding-bottom: 16.5px;
	    margin: 0px;
	    font-size: 20px;
	    border: none;
	    cursor: pointer;
	    float: right;
	}

	.dropbtn:hover, .dropbtn:focus {
	    background-color: white;
	}

	.dropdown {
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    right: 0px;
	    background-color: black;
	    min-width: 140px;
	    z-index: 1;
	    text-align: center;
	}

	.dropdown-content a {
		margin: 0px;
		padding: 0px;
	    text-decoration: none;
	    display: block;
	}

	.dropdown-content li {
	    padding: 12px 16px;
	    text-decoration: none;
	    border: 1px solid white;
	    display: block;
	}

	.dropdown-content li:hover {
		background-color: white;
		border: 1px solid black;
		color: black;
	}

	.show {
		display:block;
	}

	.dropdown-content li {
		list-style: none;
		font-size: 18px;
		color: rgb(0, 255, 255);
	}
}
