* {
	box-sizing: border-box;
	font-family: Arial;
}

body {
	background-color: rgb(35, 35, 35);
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	width: 80%;
	font-size: 0px;
}

nav {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: grey;
	height: 60px;
	border-bottom: 2px solid silver;
}

nav h1 {
	position: relative;
	display: inline-block;
	border-right: 2px solid black;
	font-size: 30px;
	vertical-align: middle;
	margin: 12px;
	margin-left: 20px;
	margin-right: 0px;
	padding: 0px;
	padding-right: 20px;
	font-weight: 600;
	font-family: serif;
	color: black;
}

nav ul {
	position: relative;
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	list-style: none;
	margin: 8.5px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
	color: black;
	margin-right: 10px;
	padding: 3px;
}

nav ul li:hover {
	text-decoration: underline;
	font-size: 22px;
}

nav h1:hover {
	color: silver;
}

.subheader {
	color: white;
	font-size: 25px;
	text-align: left;
	font-weight: 500;
}

.in-text-list {
	display: block;
	clear: both;
}

ol.in-text-list {
	list-style: decimal;
}

ul.in-text-list {
	list-style: none;
}

.in-text-list > li {
	color: rgb(240, 190, 0);
	font-size: 19px;
	/*color: rgb(170, 0, 100); red*/
	/*color: rgb(150, 255, 0); green*/
}

ul.in-text-list > li::before {
	content: "> ";
}

h2 {
	color: rgb(170, 0, 100);
	text-align: center;
	font-size: 35px;
}

main > h3 {
	color: rgb(150, 255, 0);
	text-align: center;
	font-size: 30px;
}

li > h3 {
	color: rgb(0, 255, 255);
	font-size: 24px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

main > ol {
	font-size: 22px;
	list-style: none;
	padding: 0px;
}

main > li {
	color: rgb(0, 255, 255);
	display: block;
}

p {
	color: white;
	font-size: 20px;
}

h5 {
	color: rgb(0, 255, 255);;
	font-size: 21px;
	font-weight: 500;
}

main a > li, main a {
	color: rgb(80, 80, 190);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.links {
	list-style: none;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: center;
	display: block;
	clear: both;
}

img {
	vertical-align: top;
	margin: 40px;
}

#first {
	zoom: 50%;
	display: block;
	clear: both;
	margin: 40px auto;
}

#second {
	zoom: 20%;
	margin: 100px;
}

.img-right {
	margin-right: 0px;
	float: right;
}

.dropdown {
	display: none;
}

@media only screen and (min-width: 1150px) {
	#first {
		zoom: 65%;
		margin: 31px auto;
	}
}

@media only screen and (min-width: 1400px) {
	#first {
		zoom: 85%;
		margin: 24px auto;
	}
}

@media only screen and (max-width: 1050px) {
	#second {
		zoom: 15%;
		margin: 133px;
	}
}

@media only screen and (max-width: 830px) {
	#first, #second {
		zoom: 100%;
		width: 100%;
		margin: 20px auto;
		float: none;
		display: block;
	}

	.text-left {
		text-align: center;
		display: block;
	}
}

@media only screen and (max-width: 650px) {
	nav h1 {
		border-right: none;
	}

	.large {
		display: none;
	}

	.dropdown {
		display: block;
	}

	.dropbtn {
		position: absolute;
		right: 20px;
		top: 0px;
		background-color: grey;
	    color: black;
	    padding: 5px;
	    padding-top: 18.5px;
	    padding-bottom: 16.5px;
	    margin: 0px;
	    font-size: 20px;
	    border: none;
	    cursor: pointer;
	    float: right;
	}

	.dropbtn:hover, .dropbtn:focus {
	    background-color: white;
	}

	.dropdown {
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    right: 0px;
	    background-color: black;
	    min-width: 140px;
	    z-index: 1;
	    text-align: center;
	}

	.dropdown-content a {
	    padding: 12px 16px;
	    text-decoration: none;
	    border: 1px solid white;
	    display: block;
	}

	.dropdown-content a:hover {
		background-color: white;
		border: 1px solid black;
	}

	.dropdown-content li:hover {
		color: black;
	}

	.show {
		display:block;
	}

	.dropdown-content li {
		list-style: none;
		font-size: 18px;
		color: rgb(0, 255, 255);
	}
}
