body {
	background-color: #111111;
}

h1 {
	color: #e2e80f;
	text-align: center;
	font-size: 40px;
}

p {
	color: #eeeeee;
	font-size: 20px;
	line-height: 150%;
}

p span.credits {
	text-decoration: underline;
	color: #49daff;
}

p span.credits:hover {
	cursor: pointer;
}

#film-description {
	font-style: italic;
	font-size: 16px;
}