* {
	box-sizing: border-box;
	font-size: 0px;
}

div {
	height: 125px;
	margin: 0px;
	display: inline-block;
	border: 6px solid white;
}

.row {
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;	
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0px;
}

.row1 {
	background-color: #F5C6D6;
	width: 100%;
	margin-top: 20px;
}

.row2 {
	background-color: #EE2E84;
	width: 25%;
}

.row3 {
	background-color: #85CFD8;
	width: 50%;
}

.row4 {
	margin-bottom: 20px;
}

.green {
	background-color: #8DC63F;
	width: 75%;
}

.orange {
	background-color: #E76E34;
	width: 25%;
}