body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

ul, li, a, p {
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

.loading {
    width: 100px;
    height: 50px;
    background: url('Images/ajax-loader.gif') no-repeat center center;
    margin: 20px auto;
}

nav {
    height: 60px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: red;
    border-bottom: 1px solid black;
}

.standard-nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    justify-content: space-between;
    height: 60px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-top: 0;
    padding-left: 0;
}

.standard-nav > a, nav ul {
    display: flex;
    width: 50%;
    align-items: center;
    text-decoration: none;
}

.dropdown > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 60px;
    padding-left: 5px;
}

.standard-nav > a:hover, .dropdown > a:hover {
    background: white;
    color: red;
}

.standard-nav > a:hover h1, .dropdown > a:hover h1 {
    color: red;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Titillium Web', sans-serif;
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul a:hover {
    background: white;
    color: red;
}

nav h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: white;
}

nav .navImage {
    background: url("Images/pokemonNav.jpg"), no-repeat center center;
    height: 490px;
    width: 980px;
    zoom: 12.2%;
}

.dropdown {
    display: none;
}

footer {
    padding: 40px 10px;
    background-color: rgb(234, 232, 232);
    text-align: center;
    margin: 0;
    border-top: 1px solid black;
}

footer div {
    font-size: 30px;
}

footer i {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    color: red;
}

footer i:hover {
    color: rgb(120, 0, 0);
    cursor: pointer;
}

footer h3 {
    margin-top: 0;
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

footer h5 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
}

.home,
.startContainer {
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("Images/pokemonBanner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.startContainer {
    margin-bottom: 0px;
}

.home h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.home h2 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.home a {
    text-decoration: none;
    color: black;
}

.home a:hover {
    background-color: white;
    color: red;
}

.pokedexThumbnail {
    background: url("Images/mewtwo.png"), no-repeat center center;
    height: 250px;
    width: 250px;
    zoom: 100%;
    margin: auto;
}

.singleThumbnail {
    background: url("Images/pokken.jpg");
    background-repeat: no-repeat;
    background-position: top;
    height: 337px;
    width: 600px;
    zoom: 50%;
    margin: auto;
}

.doubleThumbnail {
    background: url("Images/doubleBattle.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 267px;
    zoom: 110%;
    margin: auto;
}

.thumbnailContainer {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.thumbnail {
    width: 350px;
    margin: auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
}

.standard-nav {
    width: 100%;
}

.frontImage {
    width: 100px;
    height: 100px;
    zoom: 100%;
    margin: auto;
}

.startContainer {
    display: flex;
    justify-content: space-between;
}

.pokedexContainer,
.doubleBattleContainer,
.singleBattleContainer {
    width: 33.33%;
    text-align: center;
}

.listContainer {
    width: 66.66%;
    text-align: center;
}

.startContainer h3 {
    font-size: 32px;
    font-weight: 600;
}

.startContainer h4 {
    font-size: 24px;
    font-weight: 400;
}

.doubleBattleContainer > h4,
.singleBattleContainer > h4 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 60px;
}

.pokedexContainer input {
    width: 200px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.pokedexContainer ul, .pokemon ul, .battle ul, ul.list {
    list-style: none;
    padding-left: 0;
}

.pokedexResult p,
.pokedexResult ul,
.pokedexResult h6,
.battle p,
.battle ul,
.battle h6 {
    margin-top: 10px;
}

.pokedexContainer,
.singleBattleContainer,
.doubleBattleContainer, {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Titillium Web', sans-serif;
}

.pokedexContainer h5,
.singleBattleContainer h5,
.doubleBattleContainer h5 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 5px;
}

.pokedexContainer h6,
.singleBattleContainer h6,
.doubleBattleContainer h6 {
    font-weight: 300;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;

}

.pokemon {
    width: 300px;
    margin: auto;
}

.pokedexContainer button,
.singleBattleContainer button,
.doubleBattleContainer button {
    width: 200px;
    height: 36px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: rgb(80, 80, 80);
    border: 1px solid silver;
    background-color: white;
}

.pokedexContainer button:hover,
.singleBattleContainer button:hover,
.doubleBattleContainer button:hover {
    cursor: pointer;
    color: rgb(100, 100, 0);
    border: 2px solid rgb(100, 100, 0);
    background-color: rgb(200, 200, 255);
}

.pokemon, .pokemon h5, .pokemon li {
    font-size: 16px;
}

.pokemon button {
    width: 120px;
    height: 36px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: rgb(80, 80, 80);
    border: 1px solid silver;
    background-color: white;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.pokemon button.delete {
    margin-top: 0px;
}

.pokemon button:hover {
    cursor: pointer;
    color: rgb(100, 100, 0);
    border: 2px solid rgb(100, 100, 0);
    background-color: rgb(200, 200, 255);
}

.pokemon h5 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.pokemon span {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}

.pokemon li {
    font-size: 16px;
}

.chosenList ul.list,
.potentialList ul.list {
    display: flex;
    flex-wrap: wrap;
}







/* Make into two columns only */
@media (max-width: 900px) {
    .pokedexContainer,
    .doubleBattleContainer,
    .singleBattleContainer,
    .listContainer {
        width: 46%;
        padding-left: 2%;
        padding-right: 2%;
    }
}

/* Remove picture in top left navbar */
@media (max-width: 740px) {
    .navImage {
        display: none;
    }
}

@media (max-width: 600px) {
    .pokedexContainer,
    .doubleBattleContainer,
    .singleBattleContainer,
    .listContainer {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .pokedexContainer h3,
    .doubleBattleContainer h3,
    .singleBattleContainer h3 {
        margin-top: 50px;
    }

    .listContainer h3 {
        margin-top: 100px;
    }


    .startContainer {
        display: block;
    }
}

/* Change nav items into Menu */
@media (max-width: 500px) {
    .standard-nav {
        display: none;
    }

	.dropdown {
		display: block;
	}

    nav {
        position: relative;
    }

	.dropbtn {
		position: absolute;
		right: 0px;
		top: 0px;
        height: 28px;
	    color: white;
	    margin: 0px;
	    font-size: 28px;
	    cursor: pointer;
        width: 25%;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
	}

    nav h1 {
        font-size: 22px;
    }

	.dropbtn:hover, .dropbtn:focus {
	    background-color: white;
        color: red;
	}

	.dropdown {
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    right: 0px;
	    background-color: white;
	    min-width: 140px;
	    z-index: 1;
	    text-align: center;
	}

	.dropdown-content a {
		margin: 0px;
		padding: 0px;
	    text-decoration: none;
	    display: block;
	}

	.dropdown-content li {
	    padding: 12px 16px;
	    text-decoration: none;
	    border: 1px solid white;
        color: white;
        background-color: red;
	    display: block;
	}

	.dropdown-content li:hover {
		background-color: white;
		border: 1px solid red;
		color: red;
	}
}
